@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'RigidSquareBoldItalic';
  src: url('../public/fonts/fonnts.com-Rigid_Square_Light.otf') format('opentype');
  /* font-weight: 400; */
  font-style: normal;
}

@font-face {
  font-family: 'RigidSquareBoldItalicSemiBold';
  src: url('../public/fonts/fonnts.com-Rigid_Square_SemiBold.otf') format('opentype');
  /* font-weight: 400; */
  font-style: normal;
  font-weight: 800;

}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  body{
    height: 100%;
    width: 100%;
    overflow-x: hidden !important;
    font-family: 'RigidSquareBoldItalic' !important;
  }
}
#full{
  height: 100vh;
  width: 100%;
  background-color: #ffffff63;
  position: absolute;
  top:0;
  backdrop-filter: blur(30px);
  right: -100%;
}
#menu{
  cursor: pointer;
}
.sidemenu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(0, 0, 0) ;
  padding: 20px 50px !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  height: 100%;
  width: 100%;
  overflow-x: hidden !important;
  /* font-family: 'RigidSquareBoldItalic' !important; */
}

.gradient-heading {
  background: linear-gradient(to right, #4F4F4F, #272727);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* font-weight: bold; */
}

.headings{
  font-family: 'RigidSquareBoldItalic';
}

.cancel-icon{
  font-weight: 700;
  font-size: 40px;
  cursor: pointer;
}

.menuItems{
  display: grid;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 12vw;
}

.menuItems a{
  font-size: 40px;
}

.count{
  font-size: 12px;

}

.Light-page{
  padding: 5vh 8vw;
  height: 100vh;
  /* overflow-y: hidden; */
}

.remarkable{
  font-size: 5rem;
  margin: 0;
  padding: 0;
}

.mining{
  font-family: 'RigidSquareBoldItalicSemiBold';
  font-size: 7rem;
  margin: 0;
  padding-bottom: 10px;
  line-height: 111px;

}

.heading-container{
  line-height: 88px;
}

#video-container{
  width: 100%;
  height: 55vh;
  object-fit: cover;
  border-radius: 20px;

}
.video-main-container{
  position: relative;
}

.first-block{
  height: 20vh;
  width: 20vw;
  background-color: #fdfcfcd8;
  position: absolute;
  bottom: 0;
  left: 0;
}